@keyframes blow {
    0% {
      d: path(
        "M501,175.6c-16.1-36.5-61.8-53.7-95.5-53.7c-41.8,0-78.4,15.7-95.5,53.7c-18.7,39.5-11.5,113.4-25,155.2c2.2,0.2,47.3,40.1,132.3,40.1c83.8,0,134.7-45.5,135.5-47.7C515.8,275.5,516.3,202.3,501,175.6z"
      );
    }
  
    100% {
      d: path(
        "M501,175.6c-16.1-36.5-61.8-53.7-95.5-53.7c-41.8,0-78.4,15.7-95.5,53.7c-18.7,39.5-10.8,98.2-56.5,149.6c0.1,0.4,53.4,47,138.5,47c83.8,0,124.4-38.2,125.3-40.4C509.7,282.5,519.7,215.1,501,175.6z"
      );
    }
  }
  
  #hair {
    animation: blow 2s ease-in-out infinite alternate;
  }